In [17]:
import pandas as pd
import numpy as np

In [2]:
location_data = "O:/SNF/SNF_mapping_2025/Excel_forms"

In [3]:
df = pd.read_excel(f"{location_data}/SFN mapping form Agroecology at Scale_KS.xlsx")

In [22]:
if df.iloc[5,2] == np.nan:
    network_name = df.iloc[5,2]
else:
    network_name = df.iloc[5,3]

In [46]:
df_checl = df.iloc[15:52,:]
df_checl.columns = df_checl.iloc[0]
df_checl = df_checl.iloc[1:]
df_checl["Postcode district eg CH8, SN10, M9"]  = df_checl["Postcode district eg CH8, SN10, M9"].ffill(axis = 0)

In [47]:
df_checl= df_checl.iloc[2:,:]

In [50]:
df_checl

15,"Postcode district eg CH8, SN10, M9",NaN,BA10,ST14,PL3,CO10,NE66,DN10,LE14
18,Sustainability focus area(s) linked with netwo...,Resilient productivity,X,X,X,X,X,X,X
19,Sustainability focus area(s) linked with netwo...,Reducing and refining inputs,X,X,X,X,X,X,X
20,Sustainability focus area(s) linked with netwo...,Soil health,X,X,X,X,X,X,X
21,Sustainability focus area(s) linked with netwo...,Green energy,NaN,NaN,NaN,NaN,NaN,X,NaN
22,Sustainability focus area(s) linked with netwo...,Biodiversity,X,X,X,X,X,X,X
23,Sustainability focus area(s) linked with netwo...,Healthy communities,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Sustainability focus area(s) linked with netwo...,Carbon capture,NaN,NaN,NaN,NaN,X,NaN,NaN
25,Sustainability focus area(s) linked with netwo...,Other (what?),NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Sustainability focus area(s) linked with netwo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Enterprise(s) on farm,Dairy,X,NaN,NaN,NaN,NaN,NaN,NaN
28,Enterprise(s) on farm,Cereals & oilseeds,X,X,X,X,NaN,X,X
29,Enterprise(s) on farm,Field veg including potatoes,NaN,NaN,NaN,NaN,NaN,X,NaN
30,Enterprise(s) on farm,Horticulture,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Enterprise(s) on farm,Beef,NaN,X,X,NaN,X,NaN,X
32,Enterprise(s) on farm,Sheep,NaN,X,NaN,NaN,X,NaN,NaN
33,Enterprise(s) on farm,Pigs,NaN,NaN,NaN,NaN,NaN,NaN,X
34,Enterprise(s) on farm,Poultry (meat),NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Enterprise(s) on farm,Poultry (eggs),NaN,NaN,NaN,NaN,NaN,NaN,X
36,Enterprise(s) on farm,Woodland/ agroforestry,X,NaN,NaN,NaN,NaN,NaN,X
37,Enterprise(s) on farm,Top Fruit & Soft Fruit,NaN,NaN,NaN,X,NaN,NaN,NaN
38,Enterprise(s) on farm,Don't know,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Enterprise(s) on farm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Enterprise(s) linked with network activity,Dairy,X,NaN,NaN,NaN,NaN,NaN,NaN
41,Enterprise(s) linked with network activity,Cereals & oilseeds,X,X,X,NaN,NaN,NaN,NaN
42,Enterprise(s) linked with network activity,Field veg including potatoes,NaN,NaN,NaN,NaN,NaN,X,NaN
43,Enterprise(s) linked with network activity,Horticulture,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Enterprise(s) linked with network activity,Beef,NaN,X,X,NaN,X,NaN,NaN
45,Enterprise(s) linked with network activity,Sheep,NaN,NaN,NaN,NaN,X,NaN,NaN
46,Enterprise(s) linked with network activity,Pigs,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Enterprise(s) linked with network activity,Poultry (meat),NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Enterprise(s) linked with network activity,Poultry (eggs),NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Enterprise(s) linked with network activity,Woodland/ agroforestry,NaN,NaN,NaN,NaN,NaN,NaN,X
50,Enterprise(s) linked with network activity,Top Fruit,NaN,NaN,NaN,X,NaN,NaN,NaN
51,Enterprise(s) linked with network activity,Whole system,NaN,NaN,NaN,NaN,NaN,NaN,NaN